.pagelink {
  background: #fff;
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.formContainer {
  width: 80%;
  padding-left: 20px;
  margin: auto;
  background-color: #fbfbfb;

  .setFormMargin {
    margin: 0 10px 50px 0;
  }
}
