<app-header>
</app-header>
<app-menu></app-menu>

<app-report-template 
[showPagination]="true"
[showPerPage]="true"
[isRowSelectable]="true"
(rowSelectionTriggered)="onRowSelected($event)"
[showDropdownMenu1]="true"
[dropdownMenu1List]="caseTypes"
(DropdownMenu1Triggered)="onCaseTypeChange($event)" 
[dropdownMenu1SelectedCode]="selectedCaseCode"
(rowSelectionTriggered)="onRowSelected($event)"
[searchText1_Placeholder]="'Loan Account Number'"
[isInprogress]="isInprogress"
[showNotFoundMsg]="showNotFoundMsg" 
[showSearch]="true" 
[showDate]="false" 
[isDateRange]="false"
[dateFormat]="'YYYY-MM-DD'" 
[moduleName]="'RC-Loan Field Collector'"
[reportTitle]="reportTitle"
[reportHeaders]="reportHeaders" 
[reportData]="reportData"
(searchTriggered)="onSearch($event)"
[showEdit]="showEscalationButton === true"
(editRowTriggered)="onMenuEdit($event)" 
[showDelete]="showCloseButton === true"
(deleteRowTriggered)="onSubMenuDelete($event)"
[page]="page" 
[per_page]="per_page" 
[total_pages]="total_pages" 
[totalRecords]="totalRecords" 
(pageChange)="onPageChange($event)"
>
</app-report-template>

<!-- model box section -->
<div class="pop" *ngIf="showForm">
    <div class="modal">
  
      <div class="modal__inner" style="width: 75%">
        
        <div>
            <ul>
                <li>
                  <ul>
                    <li><span (click)="loanDetail()">Loan Details</span></li>
                    <li><span (click)="followUpDetail()">Followup Detail</span></li>
                    <li><span (click)="collectorHistory()">Collector History</span></li>
                    <li><span (click)="contactHistory()">Contact History</span></li>
                    <li><span (click)="customerDetail()">Customer Detail</span></li>
                  </ul>
                </li>
              </ul>
        </div>
        
        <div *ngIf="currentModalTab === 'escalate'">
        
          <div class="form-header" style="font-size: 18px">{{formTitle}}</div>
        
          <div class="myform">
            <div class="spinner" *ngIf="isInprogress"></div>
        
            <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
              [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
            </app-form-template>
        
          </div>
        </div>

        <div *ngIf="currentModalTab === 'closeCase'">
        
          <div class="form-header" style="font-size: 18px">{{formTitle}}</div>
        
          <div class="myform">
            <div class="spinner" *ngIf="isInprogress"></div>
        
            <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
              [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
            </app-form-template>
        
          </div>
        </div>

        <div *ngIf="currentModalTab === 'loanDetail'">
        
          <div class="form-header" style="font-size: 18px">{{formTitle}}</div>
        
          <div class="myform">
            <div class="spinner" *ngIf="isInprogress"></div>
        
            <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
              [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
            </app-form-template>
        
          </div>
        </div>
  
        <div *ngIf="currentModalTab === 'followUpDetail'">
          <ul style="margin-top: 10px" class="submenu" (click)="onFollowUpToggle()">
              <li class="addButton" style="background-color:purple; color: #efefef">
                <a><span style="color: #efefef">Toggle View</span></a></li>
          </ul>

          <div class="form-header" style="font-size: 18px">{{formTitle}}</div>
          
          <div *ngIf="showFollowUpLists">
              <app-report-template 
              [reportTitle]="'FollowUp Details'"
              [showAccess]="false"
              [isRowSelectable]="true"
              [isInprogress]="isInprogress"
              [showNotFoundMsg]="showNotFoundMsg" 
              [showAdd] = "true"
              (AddTriggered)="onAddFollowUpDetails()"
              [moduleName]="'RC-Loan Field Collector'"
              [reportHeaders]="followUpHeader" 
              [reportData]="caseFollowUpDetails">
            </app-report-template>
          </div>
          
          <div class="myform">
            <div class="spinner" *ngIf="isInprogress"></div>
        
            <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
              [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
            </app-form-template>
        
          </div>
        </div>

        <div *ngIf="currentModalTab === 'collectorHistory'">
                      
          <div>
            <app-report-template 
            [reportTitle]="'Collector History'"
            [showAccess]="false"
            [isRowSelectable]="true"
            [isInprogress]="isInprogress"
            [showNotFoundMsg]="showNotFoundMsg" 
            [moduleName]="'RC-Loan Field Collector'"
            [reportHeaders]="collectorHeader" 
            [reportData]="actionLogs">
            </app-report-template>
          </div>

            <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
              [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
            </app-form-template>
        </div>
  
        <div *ngIf="currentModalTab === 'callHistory'">
         
          <div>
            <app-report-template 
            [reportTitle]="'Call Center History'"
            [showAccess]="false"
            [isRowSelectable]="true"
            [isInprogress]="isInprogress"
            [showNotFoundMsg]="showNotFoundMsg" 
            [moduleName]="'RC-Loan Field Collector'"
            [reportHeaders]="callCenterHeader" 
            [reportData]="caseCallHistory">
            </app-report-template>
          </div>

          <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
            [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
          </app-form-template>
        </div>

        <div *ngIf="currentModalTab === 'customerDetail'">
        
          <ul style="margin-top: 10px" class="submenu" (click)="onCustomerDetailToggle()">
              <li style="background-color:purple; color: #fff">
                <span style="color: #fff">Toggle View</span></li>
          </ul>

          <h3 style="color: #000">Customer Account Details</h3>
       
          <div *ngIf="showCustomerDetailLists">

              <table style="width: 100%">
                  <thead>
                    <tr>
                      <th>Customer Name</th>
                      <th>Branch Name</th>
                      <th>Scheme Desc</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>{{selectedModel.OPER_ACCT_NAME}}</td>
                    <td>{{selectedModel.OPER_ACCT_BRN_NAME}}</td>
                    <td>{{selectedModel.SCHM_CODE}}</td>
                  </tr>
                </table>
      
                <br />
                <h3 style="color: #000">Account Details</h3>
                <table style="width: 100%">
                  <thead>
                    <tr>
                      <th>Cif Id</th>
                      <th>Account Name</th>
                      <th>Account Number</th>
                      <th>Operative Balance</th>
                      <th>Loan Balance</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>{{selectedModel.CIF_ID}}</td>
                    <td>{{selectedModel.OPER_ACCT_NAME}}</td>
                    <td>{{selectedModel.OPER_ACCT_NO}}</td>
                    <td>{{selectedModel.OPER_ACCT_BAL}}</td>
                    <td>{{selectedModel.LOAN_ACCT_BAL}}</td>
                  </tr>
                </table>
      
                <h3 style="color: #000">Other Customer Details</h3>
                      
              <div>
                  <app-report-template 
                  [reportTitle]="'Customer Contact Details'"
                  [showAccess]="false"
                  [isRowSelectable]="true"
                  [isInprogress]="isInprogress"
                  [showAdd] = "true"
                  (AddTriggered)="onAddCustomerDetails()"
                  [showNotFoundMsg]="showNotFoundMsg" 
                  [moduleName]="'RC-Loan Field Collector'"
                  [reportHeaders]="contactDetailHeader" 
                  [reportData]="caseCustomerDetail">
                </app-report-template>
              </div>

          </div>
        

        <app-form-template [model]="model" [fields]="fields" (submitTriggered)="submit($event)"
          [showSubmit]="showModalSubmit" (closeTriggered)="showForm = false" [submitLabel]="submitLabel">
        </app-form-template>

        </div>
  
      </div>
    </div>
  
  </div>