<footer class="wema-footer">
    <div class="container">
        <ul class="wema-f-list">
            <li (click)="utitilityService.goto('N', 'The Square', 'http://insidewema1/wemasquare/default.aspx')"> <a>
            <img src="assets/images/square.png" class="img-fluid footer-img" alt="The Square">
                The Square</a></li>
            <li (click)="utitilityService.goto('N', 'INFOSHARE', 'http://172.27.4.22/wemainfoshare/Login.aspx')"> <a>
                <img src="assets/images/share.png" class="img-fluid footer-img mrg-left-20" alt="INFOSHARE">
                INFOSHARE</a></li>
            <li (click)="utitilityService.goto('N', 'Finacle', 'https://finweb.wemabank.local:8443/SSO/ui/SSOLogin.html')"> <a>
                <img src="assets/images/finacle.png" class="img-fluid footer-img" alt="Finacle">
                Finacle</a></li>
            <li (click)="utitilityService.goto('N', 'KSSPORTAL', 'http://172.27.4.21/kss')"> <a>
                <img src="assets/images/portal.png" class="img-fluid footer-img" alt="KSSPORTAL">
                KSSPORTAL</a></li>
            <li (click)="utitilityService.goto('N', 'Purple Books', 'http://insidewema1/hcm/brandservice/csm/Shared%20Documents/CSM%20Publications/Purple%20Book.pdf')"> <a>
                <img src="assets/images/book.png" class="img-fluid footer-img" alt="Purple Books">
                Purple Books</a></li>
            <li (click)="utitilityService.goto('N', 'Purple Works', 'https://purpleworks.wemabank.com/Runtime/Runtime/Form/K2+Workdesk/?')"> <a>
                <img src="assets/images/s-works.png" class="img-fluid footer-img" alt="Purple Works">
                Purple Works</a></li>
        </ul>
    </div>
</footer>