<div class="body-div">
  <div class="container wrapper">
    <div class="row">
      <div class="col-md-8 removespaces">
       
        <slideshow [height]="'430px'" [minHeight]="'430px'" [autoPlay]="true" [showArrows]="false" [autoPlayInterval]="5000" [stopAutoPlayOnSlide]="true"
          [imageUrls]="slides" [lazyLoad]="slides?.length > 1" [autoPlayWaitForLazyLoad]="true">
        </slideshow>
        
      </div>
      <div class="col-md-4 login-box">
        <img src="assets/images/logo.png" class="img-fluid">
        <div class="subTitle">
          <span>i</span>WEMA</div>
        <h1>LOG IN</h1>

        <form (ngSubmit)="onSubmit()" #signinForm="ngForm" novalidate>
          <div class="form-group">
            <i class="fas fa-user-circle"></i>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username" [disabled]="isInprogress"
              required [(ngModel)]="signinModel.username" name="username" #usernameModel="ngModel">
            <!--                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="form-group">
            <i class="fas fa-lock"></i>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [disabled]="isInprogress" required
              [(ngModel)]="signinModel.password" name="password" #passwordModel="ngModel" #passField>
          </div>
          <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
              </div> -->
          <button type="submit" class="btn btn-primary login-btn" id="submit" [disabled]="!signinForm.form.valid || isInprogress">Login</button>
        </form>
        <!-- <p><a class="p-link">Forgot Password?</a></p> -->
        <p>
          <a class="p-link">Login with Wema Domain Username and Password</a>
        </p>
        <div class="spinner" *ngIf="isInprogress"></div>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
