$primary-color:#990b81;
$primary-color2: #e5e5e5;
$primary-color3: #f2f2f2;
 $primary-color4: #650360;
 $primary-color5: #9d1287;
$fore-color1: #505457;
$link-color: #2b12b8;
$hover-bg-color: rgba(#f2f2f2, .5);
$error-color: rgb(185, 47, 47);
